<div class="container">
  <div class="row mt-5">
    <div class="col col-12 text-center">
      <h1>Consulta de Logs</h1>
    </div>
  </div>

  <!-- <div class="row mt-5">
    <div class="col col-12">
      <form action="" [formGroup]="frmConsulta" >
      <div class="input-group mb-3">
        <input formControlName="code" type="text" class="form-control" placeholder="Buscar moneda" aria-label="Buscar moneda" aria-describedby="button-addon2">
        <button (click)="searchCurrency()" class="btn btn-success" type="button" id="button-addon2" style="margin-left:20px">Buscar</button>
      </div>
    </form>
    </div>
  </div> -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre servicio</th>
        <th scope="col">Fecha Consulta</th>
      </tr>
    </thead>
    <tbody *ngIf="inflaccion != null">
      <tr  *ngFor="let infla of inflaccion">
        <td scope="row">{{infla.nombreServicio }}</td>
        <td scope="row">{{infla.creationDate | date}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="inflaccion.length <= 0" class="col col-12 text-center mt-4">
    <h4>Cargando.....</h4>
  </div>
</div>
